.grid {
  &-auto {
    grid-template-columns: auto;
  }
  
  @for $i from 1 through 12 {
    &-auto-#{$i} {
      grid-template-columns: repeat(#{$i}, auto);
    }
  }

  // scss for .grid-1fr-1, .grid-1fr-2 etc.
  @for $i from 1 through 12 {
    &-1fr-#{$i} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
  }
}
